/* start globale rules */
*{
    box-sizing: border-box;
}
:root{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.main-title{
    margin: 0 auto 80px;
    width: fit-content;
    border: 3px solid black;
    padding: 10px 20px;
    z-index: 1;
    position: relative;
    transition: 0.3s;
    text-transform:uppercase ;
    font-size: 30px;
}
.main-title::before{
    content: "";
    position: absolute;
    left: -30px;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after{
    content: "";
    position: absolute;
    right: -30px;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover{
    transition-delay: 0.5s;
    border: 3px solid white;
    color: white;
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
@keyframes left-move {
    50%{
        left: 0;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
/* end globale rules */
/* start header section */
.header{
    box-shadow: 0 0 10px #ddd;
    background-color: white;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
    position: relative;

}
.header .container .logo{
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: center;
}
@media(max-width:767px){
    .header .container .logo{
        width: 100%;
        height: 50px;
    }
}
.header .container .nav{
    display: flex;    
}
@media(max-width:767px){
    .header .container .nav{
        margin: auto;
    }
}
.header .container .nav > li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .container .nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 2px);
}
.header .container .nav > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    padding: 0 30px;
    height: 72px;
}
@media(max-width:767px){
    .header .container .nav > li > a{
        padding: 10px;
        font-size: 13px;
        height: 40px;
    }
}
.header .container .nav > li > a::before{
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    background-color: var(--main-color);
    height: 4px;
    transition: 0.3s;
}
.header .container .nav > li > a:hover{
    background-color: var(--main-color);
    background-color: #fafafa;
}
.header .container .nav > li > a:hover::before{
    left: 0;
}  
.header .container .mega-menu  {
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    width: 100%;
    background-color: white;
    padding: 30px;
    display: flex;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    transition: 0.3s;
    z-index: -1;
    opacity: 0;
}
@media (max-width:767px){
    .header .container .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
}
.header .mega-menu .image img{
    max-width: 100%;
}
@media(max-width:991px){
    .header .mega-menu .image img{
        display: none;
    }
}
.header .mega-menu .links{
    flex: 1;
}
.header .mega-menu .links li{
    min-width: 250px;
    position: relative;
}
.header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width:767px){
    .header .mega-menu .links li:nth-of-type(5){
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: 0.3s;
}
.header .mega-menu .links li:hover::before{
    width: 100%;
}
.header .mega-menu .links li a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    display: block;
    font-weight: bold;
}
.header .mega-menu .links li i{
    margin-right: 10px;
}
/* end header section */
/* start landing section */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#ececec ;
    z-index: -1;
    transform: skewy(-6deg);
    transform-origin: top left;
}
.landing .container{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 20px;
}
@media (max-width:992px){
    .landing .container .img img{
        display: none;
    }
}
.landing .container .text{
    flex: 1;
    
}
.landing .container .text h2{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media(max-width:767px){
    .landing .container .text h2{
        font-size: 28px;
    }
}
.landing .container .text p{
    font-size: 23px;
    line-height: 2;
    color: #777;
    margin: 5px 0 0;
    max-width: 500px;
}
@media(max-width:767px){
    .landing .container .text p{
        font-size: 18px;
    }
}
@media (max-width:992px){
    .landing .container .text{
        text-align: center;
    }
    .landing .container .text p{
        margin:10px auto ;
    }
}
.landing .container .img img{
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}
@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
.landing .go-down{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    color: var(--main-color);
    transition: 0.3s;
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down i{
    animation: bouncing 1.5s linear infinite;
}
@keyframes bouncing {
    0%,10%,20%,50%,80%,100%{
        transform: translatey(0);
    }
    40%,60%{
        transform: translatey(-10px);
    }
}
/* end landing section */
/* start articales section */
.article{
    padding: 100px 0;
}
.article .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.article .container .box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #e4e4e4,-3px -3px 15px #e4e4e4;
    overflow: hidden;
    transition: 0.3s;
}
.article .container .box:hover{
    transform: translateY(-10px);
}
.article .container .box .image{
    max-width: 100%;
}
.article .container .box .text{
    padding: 20px;
    border-bottom: 1px solid #e6e6e7;
}
.article .container .box .text h3 {
    font-size: 25px;
    margin: 0;
    
}
.article .container .box .text p {
    color: #777;
    line-height: 1.7;
}
.article .container .box .info{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.article .container .box .info a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}
.article .container .box .info i{
    color: var(--main-color);

}
.article .container .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
    position: relative;
}
@keyframes moving-arrow {
    100%{
        transform: translateX(10px);
    }
}
/* end articales section */
.gallery{
    padding: 100px 0;
    position: relative;
    background-color: #ececec ;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.gallery .container .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.139),0 2px 4px 0px rgba(0, 0, 0, 0.121)  ;
}
.gallery .container .box .image img{
    max-width: 100%;
    transition: 0.3s;
}
.gallery .container .box .image:hover img{
    transform: rotate(5deg) scale(1.1);
}
.gallery .container .box .image{
    position: relative;
    width: 100%;
    overflow: hidden;

}

.gallery .container .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.201);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 1;
}

.gallery .container .box:hover .image::before{
    animation: flaching 0.7s;
}
@keyframes flaching {
    10%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* end gallery section  */
/* start feature section */
.feature{
    padding: 100px 0;
    position: relative;
}
.feature .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature .container .box{
    flex-basis: calc(95% / 3);
    border: 1px solid #d4d4d4;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
@media(max-width:767px){
    .feature .container{
        flex-direction: column;
    }
    .feature .container .box{
        margin-bottom: 40px;
    }
}
@media (max-width:992px){
    .feature .container .box{
        flex-basis: calc(95% / 2);
        margin-bottom: 40px;
    }
}
.feature .container .box .image{
    position: relative;
    z-index: -2;
}
.feature .container .box .image::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.feature .container .box .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: 0.3s;
}
.feature .container .box:hover .image::after{
    border-width: 170px 500px 170px 0;
}
.feature .container .box .image img{
    max-width: 100%;
}
.feature .container .box .text{
    padding: 20px;
    position: relative;
    transition: 0.3s;
}

.feature .container .box h3{
    font-size: 40px;
    position: relative;
    width: fit-content; 
    margin: 0 auto;   
}
.feature .container .box h3::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width:80%;
}

.feature .container .box .text p{
    font-size: 20px;
    line-height: 2;
    color: #777;
    padding: 25px;
    max-width: 300px;
    margin: 20px auto 25px;
}
.feature .container .box button{
    font-size: 22px;
    background-color: white;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 6px;
    transition: 0.3s;
}
.feature .quality .image::before{
    background-color: #f43f3670;
}
.feature .quality h3::after{
    background-color:#f44036 ;
}
.feature .quality button{
    border-color: #f44036;
    color: #f44036;
    background: linear-gradient(to right,#f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.feature .time .image::before{
    background-color: #009687a7;
}
.feature .time h3::after{
    background-color:#009688 ;
}
.feature .time button{
    border-color: #009688;
    color:#009688;
    background: linear-gradient(to right,#009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.feature .passion .image::before{
    background-color: #03a8f49e;
}
.feature .passion h3::after{
    background-color:#03a9f4 ;
}
.feature .passion button{
    border-color: #03a9f4;
    color: #03a9f4;
    background: linear-gradient(to right,#03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.feature .box:hover button{
    background-position: left bottom;
    color: white;
}
/* end feature section */
/* start testimonales section  */
.testimonial{
    position: relative;
    padding: 100px 0;
    background-color: #ececec;
}
.testimonial .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.testimonial .container .box{
    background-color: white;
    position: relative;
    padding: 15px;
    border-radius: 7px;
}
.testimonial .container .box .image{ 
    position: absolute;
    right: 0;
    top: 0%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #ececec;
    border-radius: 50%;
}
.testimonial .container .box .image img{
    max-width: 100%;
    width: 75px;
    border-radius: 50%;
}
.testimonial .container .box h4{
    margin: 0 ;
    font-size: 20px;
    text-transform: capitalize;
}
.testimonial .container .box span{
    display: block;
    padding: 10px 0;
    color: #777;

}
.testimonial .container .box .stars i{
    color:#ffc107 ;
}
.testimonial .container .box p{
    line-height: 1.7;
    color: #777;
}
/* end testimonales section  */
/* start team member section  */
.team {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .box {
    position: relative;
}  
.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img {
    width: calc(100% - 60px);
    transition: 0.3s;
    border-radius: 10px;
}
.team .box:hover img {
    filter: grayscale(100%);
}
.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.team .box .data .social a:hover i {
    color: var(--main-color);
}
.team .box .data .social i {
    color: #777;
    transition: 0.3s;
}
.team .box .info {
    padding-left: 80px;
}
.team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: 0.3s;
}
.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}
.team .box:hover .info h3 {
    color: #777;
}
/* end team member section  */
/* start service */
.service{
    padding: 100px 0;
    position: relative;
    background-color: #ececec;
}
.service .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.service .container .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    position: relative;
    transition: 0.3s;
}
.service .container .box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    width: 0;
    height: 3px;
    transition: 0.3s;
}
.service .container .box:hover{
    transform: translateY(-10px);
}
.service .container .box:hover::before{
    width: 100%;
}
.service .container .box i{
    text-align: center;
    display: block;
    color: #d5d5d5;
    margin: 30px auto 20px;
}
.service .container .box h3{
    text-align: center;
    font-size: 25px;
    color: var(--main-color);
    font-weight: bold;
    margin:20px 0 40px ;
}
.service .container .box .info{
    background-color: #f9f9f9;
    padding: 15px;
    text-align: right;
    position: relative;
}
.service .container .box .info a{
    text-decoration: none;
    color: var(--main-color);
}
.service .container .box .info::before{
    content: "0" counter(services);
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    color: white;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.service .container .box .info::after{
    content: "";
    position: absolute;
    left: 80px;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}
/* end service */
/* start our-skills section  */
.our-skills{
    padding: 100px 0;
    position: relative;
}
.our-skills .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-skills .container .skills .skill img{
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}
.our-skills .container .skills{
    flex: 1;
}
.our-skills .container .skill h3{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}
.our-skills .container .skill h3 span{
    color: var(--main-color);
    border: 1px solid #ccc;
    padding: 3px 6px;
    border-radius: 4px;
}
.our-skills .container .skill .progress{
    height: 30px ;
    background-color: #eee;
    position: relative;
}
.our-skills .container .skill .progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: width 0.3s linear;
}
/* end our-skills section  */
/* start works section  */
.works{
    padding: 100px 0;
    position: relative;
    background-color: #ececec;
}
.works .container{
    display: flex;
    gap: 40px;
}
@media (max-width:992px) {
    .works .container {
        flex-direction: column;
    }
}
.works .container .contant{
    flex: 1;
}
@media (max-width:992px) {
    .works .container .image {
        text-align: center;
    }
}
.works .container .box{ 
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #f6f5f5;
    margin-bottom:20px;
    padding: 30px;
    border-radius: 6px;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}
.works .container .box::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color:#ededed ;
    width: 0;
    height: 0;
    transition: 0.3s;
}
.works .container .box:hover::before{
    width: 100%;
    height: 100%;
}
.works .container .box img{
    max-width: 100%;
    width: 60px;
    height: 60px;
}
.works .container .text h4{
    margin: 0;
    font-size: 22px;
}
.works .container .text p{
    margin-top: 5px;
    color: #777;
    line-height: 1.7;
}
/* end works section  */
/* start event section  */
.event{
    padding: 100px 0;
    position: relative;
}
.event::before{
    content: "";
    position: absolute;
    bottom: 15%;
    left: 0;
    height: 200px;
    width: 200px;
    background-image: url("/iamge/dots.png");
    background-size: cover;
    z-index: -1;
}
.event::after{
    content: "";
    position: absolute;
    top: 15%;
    right: 0;
    height: 200px;
    width: 200px;
    background-image: url("/iamge/dots.png");
    background-size: cover;
    z-index: -1;
}
@media (max-width:767px) {
    .event::before,
    .event::after{
        width: 0;
        height: 0;
    }
}
.event .container .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.event .container .image img{
    max-width: 100%;
}
@media (max-width:992px){
    .event .container .image img{
        display: none;
    }
}
.event .container .box-right{
    flex: 1;
    text-align: center;
}
.event .container .counter{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.event .container .box{
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: calc(60% / 4);  
    transition: 0.3s;
    background-color: white;
}
@media (max-width:767px) {
    .event .container .box{
        width: calc(40% / 4);
    }
}
.event .container .box h3{
    font-weight: bold;
    font-size: 40px;
    color:var(--main-color);
    
}
.event .container .box span{
    display: block;
    padding: 10px;
    border-top: 1px solid #ccc;
    transition: 0.3s;
}
@media (max-width:767px) {
    .event .container .box span{
        font-size: 10px;
    }
}
.event .container .box:hover,
.event .container .box:hover span{
    border-color: var(--main-color);
}
.event .container .box-right h3{
    font-size: 35px;
    font-weight: bold;
}
@media (max-width:767px) {
    .event .container .box-right h3{
        font-size: 30px;
    }
}
.event .container .box-right p{
    color: #777;
    line-height: 2;
    font-size: 22px;
}
@media (max-width:767px) {
    .event .container .box-right p{
        font-size: 20px;
    }
}
.event .form{
    display: block;
    margin: 30px auto;
    width: 600px;
    background-color: #e4e4e4;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
@media (max-width:767px) {
    .event .form{
        flex-direction: column;
        width: 350px;
        gap: 5px;
        border-radius: 0;
        padding: 15px;
    }
}
.event .form input{
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 30px;
    flex: 1;
    caret-color: var(--main-color);
}

.event .form input[type="email"]::placeholder {
    transition: opacity 0.3s;
}
.event .form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.event .form a{
    display: block;
    width: fit-content;
    background-color: var(--main-color);
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
}
@media (max-width:767px) {
    .event .form input{
        border-radius: 0;
        margin-bottom: 10px;
    }
    .event .form a{
        width: 100%;
        text-align: center;
        border-radius: 0;
    }
}
/* end event section  */
/* start pricing sectoin  */
.pricing{
    padding: 100px 0;
    position: relative;
    background-color: #f3f3f3;
}
.pricing::before{
    content: "";
    position: absolute;
    bottom: 15%;
    left: 0;
    height: 200px;
    width: 200px;
    background-image: url("/iamge/dots.png");
    background-size: cover;
}
.pricing::after{
    content: "";
    position: absolute;
    top: 15%;
    right: 0;
    height: 200px;
    width: 200px;
    background-image: url("/iamge/dots.png");
    background-size: cover;
}
@media (max-width:992px) {
    .pricing::before,
    .pricing::after{
        width: 0;
        height: 0;
    }
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    text-align: center;
}
.pricing .container .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
}
@media (min-width: 1200px) {
    .pricing .box.popular {
        top: -20px;
    }
}
.pricing .container .box::before{
    content: "";
    position: absolute;
    height: 50%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    transition: 0.3s;
    z-index: -1;
}
.pricing .container .box::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 0;
    bottom: 0;
    right: 0;
    background-color: #f6f6f6;
    transition: 0.3s;
    z-index: -1;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after{
    width: 100%;
}
.pricing .container .box .title{
    font-size: 25px;
    font-weight:bolder;
    padding: 30px;
}
.pricing .container .box img{
    width: 100px;
    max-width: 100%;
    margin: 20px 0;
}
.pricing .container .box .price{
    padding: 15px;
}
.pricing .container .box .price span:first-child{
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}

.pricing .container .box ul{
    text-align: left;
    
}
.pricing .container .box ul li{
    padding: 20px;
    border-top: 1px solid #d4d4d4;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
 }
.pricing .container .box a{
    display: block;
    padding: 15px 30px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    border-radius: 7px;
    color: var(--main-color);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}
.pricing .container .box a:hover{
    color: white;
    background-color: var(--main-color);

}
/* end pricing sectoin  */
/* start video section  */
.vedio{
    padding: 100px 0;
    position: relative;
}
.vedio .holder{
    display: flex;
    justify-content: center;
    background-color: #d5d5d5;
    border: 1px solid #ddd;
}
@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}
.vedio .container .box-left{
    min-width: 300px;
    background-color: white
}
.vedio .container .head{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    font-weight: bold;
}
.vedio .container .box-left .perivew ul li{
    padding: 20px;
    border-top: 1px solid #ccc; 
    cursor: pointer;
    transition: 0.3s;
}
.vedio .container .box-left .perivew ul li:hover{
    background-color: #fafafa;
    color: var(--main-color);
}
.vedio .container .box-left .perivew ul li span{
    display: block;
    margin-top: 10px;
    color: #777;
}
.vedio .container .box-right{
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vedio .container .box-right img{
    max-width: 100%;
}
.vedio .container .box-right .info{
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}
/* end video section  */
/* start state section  */
.state{
    padding: 100px 0;
    background-image: url("/iamge/stats.jpg");
    background-size: cover;
    position: relative;
    min-height: 300px;
}
.state::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.90);
}
.state h2{
    position: relative;
    font-size: 50px;
    text-align: center;
    bottom: 20px;
}
.state .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}
.state .container .box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    opacity: 0.8;
    position: relative;
}
.state .container .box::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 0;
    background-color: var(--main-color);
    transition: 1s;
}
.state .container .box::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    width: 0;
    background-color: var(--main-color);
    transition: 1s;
}
.state .container .box:hover:after,
.state .container .box:hover::before{
    height: 100%;
    width: 2px;
}
.state .container .box i{
    display: block;
    font-size: 40px;
    margin: 30px 0;
}
.state .container .box .number{
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.state .container .box .text{
    display: block;
    font-size: 25px;
    color: var(--main-color);
    font-weight: bold;
    transform: skewX(-10deg);
    margin-bottom: 20px;
}
/* end state section  */
/* start deiscount section  */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .image {
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}
.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
@media (max-width: 991px) {
    .discount .image {
    flex-basis: 100%;
    }
}
.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-bottom: 50px;
}
@media (max-width: 991px) {
    .discount .form {
    flex-basis: 100%;
    }
}
.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount .form textarea.input {
    resize: none;
    height: 200px;
}
.discount .form .input:focus {
    outline: none;
}
.discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.discount .content {
    text-align: center;
    padding: 0 20px;
}
.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}
.discount .content img {
    width: 300px;
    max-width: 100%;
}
/* end deiscount section  */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
@media (max-width: 767px) {
    .footer {
    text-align: center;
    }
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social {
    display: flex;
}
@media (max-width: 767px) {
    .footer .box .social {
    justify-content: center;
    }
}
.footer .box .social li {
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
}
.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
    background-color: #ff0000;
}
.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
    padding-left: 10px;
}
.footer .box .links li:hover a {
    color: white;
}
.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .footer .box .line {
    flex-direction: column;
    }
}
.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
@media (max-width: 767px) {
    .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
    }
}
.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span {
    display: block;
}
.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}